#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
button {
  margin-top: 1rem;
}

.user-name {
  color: #0b71cf7c;
  font-size: 2rem;
  font-weight: bold;
}

#top-label {
  margin-top: 2rem;
}
