:root {
  --code-font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  --white: #fff;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
button {
  margin-top: 1rem;
}
.callbackResult{
    background: linear-gradient(to right, rgb(117, 31, 31),rgb(255, 166, 0));
    background-clip: padding-box; /* !importanté */
    border: solid 5px transparent; /* !importanté */
    border-radius: 1rem;
    margin: 5rem 35rem -40rem 35rem;
    color: var(--white);

  .callbackTitle {
    margin-top: 3rem;
    font-size: 2.5rem;
    font-weight: 500;
  }

  code {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    display: flex;
    font-family: var(--code-font-family);
    font-size: 1.5rem;
  }
}